analisis-turismo-cundinamarca/
├── app/
│   ├── logic/               <-- NADA MÁS CREASTE ESTA CARPETA
│   │   └── relacional.py    <-- Tu código de análisis
│   ├── static/
│   ├── templates/
│   │   ├── index.html
│   │   └── relacional.html  <-- Tu plantilla HTML
│   ├── __init__.py
│   └── routes.py            <-- Agregaste tu endpoint
├── data/                    <-- Aquí va el archivo .csv
├── docs/                    <-- NADA MÁS CREASTE ESTA CARPETA
│   └── INFORME_TECNICO.md   <-- Tu informe consolidado
├── .gitignore
├── README.md
├── requirements.txt
└── run.py